html,
body {
    background-color: rgb(247, 247, 248);
    margin: 0;
    height: 100%;
    overflow: auto;
}

header {
    background-color: white;
    font-size: 2rem;
    height: 5rem;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, 0.15);
    display: flex;
}

#icon {
    margin-left: 30px;
}

#webTitle {
    align-self: center;
    margin-left: 30px;
    font-weight: bold;
}

#addBook {
    font-size: 1.5rem;
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

#addBook:hover {
    text-decoration: underline;
}

#container {
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    grid-gap: 30px;
    padding-top: 20px;
    word-break: break-all;
    flex-wrap: wrap;
}

#form {
    height: 22rem;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: black;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
    font-size: 1.5rem;
    background-color: rgb(247, 247, 248)
}

#closeButton {
    margin: -45px -45px 0 0;
    font-size: 30px;
    margin-left: auto;
}

label {
    padding-bottom: 10px;
}

input,
select,
option {
    width: 100%;
    height: 2rem;
    font-size: 1.3rem;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    width: 40%;
    cursor: pointer;
}

.book {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    border: 3px solid;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 300px;
    height: 400px;
}

.text {
    margin: 15px 5px 5px 5px;
    flex: 1 1 auto;
}

.bookTitle {
    margin: 10px;
}

.bookIcons {
    display: flex;
    justify-content: space-between;
}

h3 {
    padding-top: 10px;
    min-height: 30%;
    overflow: auto;
}

.material-icons {
    cursor: pointer;
    user-select: none;
}

